Repository bounswe/bounswe2018group6, pull requests merged in 2018-11, with the labels that each got.

#122 Frontend signup feature
  frontend/src/api/signup.js
  frontend/src/store/modules/user.js
  frontend/src/views/signup/index.vue
Labels: Front-End, Status: Review Needed, Type: Feature

#128 Add recommended event page and create event page
  frontend/src/api/event.js
  frontend/src/router/index.js
  frontend/src/views/dashboard/admin/components/BoxCard.vue
  frontend/src/views/events/createEvent.vue
  frontend/src/views/events/index.vue
Labels: Front-End, Status: Review Needed, Type: Feature

#129 Add profile page and edit profile page
  frontend/src/api/event.js
  frontend/src/api/user.js
  frontend/src/router/index.js
  frontend/src/store/getters.js
  frontend/src/store/modules/user.js
  frontend/src/views/login/index.vue
  frontend/src/views/profile/editprofile.vue
  frontend/src/views/profile/index.vue
Labels: Front-End, Status: Review Needed, Type: Feature

#140 Backend/user improvements
  backend/api/migrations/0007_auto_20181126_1400.py
  backend/api/models.py
  backend/api/serializers.py
  backend/api/views.py
Labels: Back-End, Bug Fixed, Priority: High, Type: Enhancement, Type: Maintenance

#142 Frontend/event
  frontend/package.json
  frontend/src/api/event.js
  frontend/src/components/TextHoverEffect/Mallki.vue
  frontend/src/main.js
  frontend/src/router/index.js
  frontend/src/views/dashboard/admin/components/BoxCard.vue
  frontend/src/views/events/recommended.vue
  frontend/src/views/events/showEvent.vue
Labels: Front-End
