Repository bounswe/bounswe2018group6, pull requests merged in 2018-10, with the labels that each got.

#68 Meeting 14 - Initial Setup for Backend
  .gitignore
  backend/Procfile
  backend/Procfile.windows
  backend/api/__init__.py
  backend/api/admin.py
  backend/api/apps.py
  backend/api/migrations/__init__.py
  backend/api/models.py
  backend/api/tests.py
  backend/api/views.py
  backend/cultidate/__init__.py
  backend/cultidate/settings.py
  backend/cultidate/urls.py
  backend/cultidate/wsgi.py
  backend/manage.py
  backend/requirements.txt
  backend/runtime.txt
Labels: Back-End, Discussion, Status: Review Needed

#73 Android project first commit
  .gitignore
  android/Cultidate/.gitignore
  android/app/.gitignore
  android/app/app.iml
  android/app/build.gradle
  android/app/proguard-rules.pro
  android/app/src/androidTest/java/cmpe/boun/cultidate/ExampleInstrumentedTest.kt
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/cmpe/boun/cultidate/MainActivity.kt
  android/app/src/main/java/cmpe/boun/cultidate/activity/ForgotPassActivity.kt
  android/app/src/main/java/cmpe/boun/cultidate/activity/LoginActivity.kt
  android/app/src/main/java/cmpe/boun/cultidate/activity/RegisterActivity.kt
  android/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  android/app/src/main/res/drawable/ic_launcher_background.xml
  android/app/src/main/res/layout/activity_forgot.xml
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/activity_register.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
  android/app/src/test/java/cmpe/boun/cultidate/ExampleUnitTest.kt
  android/build.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
  android/settings.gradle
Labels: Android, Status: Review Needed

#87 Create base react app
  frontend/cultidate-frontend/.gitignore
  frontend/cultidate-frontend/README.md
  frontend/cultidate-frontend/package.json
  frontend/cultidate-frontend/public/favicon.ico
  frontend/cultidate-frontend/public/index.html
  frontend/cultidate-frontend/public/manifest.json
  frontend/cultidate-frontend/src/App.css
  frontend/cultidate-frontend/src/App.js
  frontend/cultidate-frontend/src/App.test.js
  frontend/cultidate-frontend/src/index.css
  frontend/cultidate-frontend/src/index.js
  frontend/cultidate-frontend/src/logo.svg
  frontend/cultidate-frontend/src/serviceWorker.js
  frontend/cultidate-frontend/yarn.lock
Labels: Front-End

#100 Backend/user auth
  backend/api/__init__.py
  backend/api/apps.py
  backend/api/handlers.py
  backend/api/models.py
  backend/api/permissions.py
  backend/api/serializers.py
  backend/api/urls.py
  backend/api/views.py
  backend/cultidate/settings.py
  backend/cultidate/urls.py
  backend/requirements.txt
Labels: Back-End, Design, Type: Feature

#108 Backend/user auth
  backend/api/models.py
  backend/api/serializers.py
  backend/api/urls.py
  backend/api/views.py
Labels: Back-End, Bug Fixed, Type: Bug, Type: Enhancement
