Repository bounswe/bounswe2018group6, pull requests merged in 2018-12, with the labels that each got.

#151 Frontend/event media
  frontend/src/api/event.js
  frontend/src/components/Upload/index.js
  frontend/src/components/Upload/singleImage.vue
  frontend/src/components/Upload/singleImage2.vue
  frontend/src/components/Upload/singleImage3.vue
  frontend/src/components/Upload/src/ajax.js
  frontend/src/components/Upload/src/index.vue
  frontend/src/components/Upload/src/upload-dragger.vue
  frontend/src/components/Upload/src/upload-list.vue
  frontend/src/components/Upload/src/upload.vue
  frontend/src/router/index.js
  frontend/src/store/getters.js
  frontend/src/store/modules/user.js
  frontend/src/views/events/createEvent.vue
  frontend/src/views/events/editEvent.vue
  frontend/src/views/events/showEvent.vue
  frontend/src/views/layout/components/Navbar.vue
Labels: Front-End, Priority: Critical

#152 Lots of changes in user and event pages
  frontend/src/api/event.js
  frontend/src/api/user.js
  frontend/src/router/index.js
  frontend/src/store/modules/user.js
  frontend/src/views/events/recommended.vue
  frontend/src/views/events/showEvent.vue
  frontend/src/views/profile/editprofile.vue
  frontend/src/views/profile/index.vue
  frontend/src/views/signup/index.vue
Labels: Front-End, Priority: Critical, Type: Feature

#132 Backend/email
  backend/api/serializers.py
  backend/cultidate/settings.py
  backend/cultidate/urls.py
  backend/emailer/__init__.py
  backend/emailer/admin.py
  backend/emailer/apps.py
  backend/emailer/migrations/0001_initial.py
  backend/emailer/migrations/__init__.py
  backend/emailer/models.py
  backend/emailer/tests.py
  backend/emailer/tokens.py
  backend/emailer/urls.py
  backend/emailer/views.py
Labels: Back-End, Status: Completed, Type: Enhancement, Type: Feature

#156 Backend/Validation Improvements
  backend/api/serializers.py
Labels: Back-End, Bug Fixed, Priority: High, Status: Completed

#159 Integrate functional maps feature
  frontend/package.json
  frontend/src/main.js
  frontend/src/views/events/createEvent.vue
  frontend/src/views/events/editEvent.vue
  frontend/src/views/events/showEvent.vue
  frontend/src/views/login/index.vue
Labels: Front-End, Type: Feature

#171 Messaging and search features and some minor fixes
  frontend/src/api/event.js
  frontend/src/api/message.js
  frontend/src/api/user.js
  frontend/src/router/index.js
  frontend/src/store/modules/user.js
  frontend/src/views/dashboard/admin/components/BoxCard.vue
  frontend/src/views/events/createEvent.vue
  frontend/src/views/events/editEvent.vue
  frontend/src/views/events/recommended.vue
  frontend/src/views/events/showEvent.vue
  frontend/src/views/message/conversations.vue
  frontend/src/views/message/messaging.vue
  frontend/src/views/profile/showProfile.vue
Labels: Front-End, Status: Review Needed, Type: Feature
