Repository bounswe/bounswe2018group6, pull requests merged in 2019-01, with the labels that each got.

#176 Add imitated event recommendations
  backend/api/urls.py
  backend/api/views.py
Labels: Back-End, Priority: High, Type: Feature

#180 Add owned_events, shared_events_count and shared_events to UserView
  backend/api/serializers.py
  backend/api/views.py
Labels: Back-End, Type: Enhancement

#181 Add recommendation logic
  backend/api/views.py
Labels: Back-End, Type: Enhancement

#187 Add notification system feature and users's owned events into dashboard
  frontend/src/api/user.js
  frontend/src/views/dashboard/admin/index.vue
  frontend/src/views/profile/showProfile.vue
Labels: Front-End, Type: Feature

#190 Frontend/annotation
  frontend/src/api/event.js
  frontend/src/router/index.js
  frontend/src/views/events/annotation.vue
  frontend/src/views/events/showEvent.vue
Labels: Front-End

#196 Backend/unittest
  backend/api/tests.py
Labels: Back-End, Type: Feature
